:host {
  --margin: 0;
  --padding: 0;

  --gap: 0;
  --row-gap: var(--gap);
  --column-gap: var(--gap);

  --justify-content: flex-start;
  --align-items: stretch;
  --align-content: stretch;
  --flex-wrap: wrap;

  display: flex;
  flex-wrap: var(--flex-wrap);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  align-content: var(--align-content);

  row-gap: var(--row-gap);
  column-gap: var(--column-gap);

  margin: var(--margin);
  padding: var(--padding);

  width: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
