:root {
  --nx-spacing-1: 0.25rem;
  --nx-spacing-2: 0.5rem;
  --nx-spacing-3: 0.75rem;
  --nx-spacing-4: 1rem;
  --nx-spacing-5: 1.25rem;
  --nx-spacing-6: 1.5rem;
  --nx-spacing-8: 2rem;
  --nx-spacing-10: 2.5rem;
  --nx-spacing-12: 3rem;
  --nx-spacing-16: 4rem;
}
